extends layout

block content
  h1 Library Manager
  p Welcome to Library Manager
  ul
    li
      | Books
      ul
        li
          a(href="/new_book") New Book
        li
          a(href="all_books") List All
        li
          a(href="/overdue_books") List Overdue
        li
          a(href="/checked_books") List Checked Out
    li
      | Patrons
      ul
        li
          a(href="/new_patron") New Patron
        li
          a(href="all_patrons") List All
    li
      | Loans
      ul
        li
          a(href="new_loan") New Loan
        li
          a(href="all_loans") List All
        li
          a(href="overdue_loans") List Overdue
        li
          a(href="checked_loans") List Checked Out
