extends ../layout

block content
  body
    h1 New Patron
    if errors
      each error in errors
        p#error #{error.message}
    form(action="/new_patron", method="post")
      p
        label(for="first_name") First Name
        input#first_name(type="text", name="first_name")
      p
        label(for="last_name") Last Name
        input#last_name(type="text", name="last_name")
      p
        label(for="address")  Address
        input#address(type="text", name="address")
      p
        label(for="email") Email
        input#email(type="text", name="email")
      p
        label(for="library_id") Library ID
        select#library_id(name="library_id")
          option(value="MCL1001") MCL1001
          option(value="MCL1010") MCL1010
          option(value="MCL1011") MCL1011
          option(value="MCL1100") MCL1100
      p
        label(for="zip_code") Zip Code
        input#zip_code(type="text" name="zip_code")
      p
        input(type="submit" value="Create New Patron")
